.mkothpicandwords{
	position: relative;
	display: block;
	width: 25%;
	left: 10%;
  }

  body {
	overflow-x: hidden;
	margin: auto;
  }

  header {
	position: relative;
	z-index: 1000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  }

  #comnavbar {
	list-style-type:none;
	position:absolute;
	left:33%;top:3px;
	width: 65%;
  }

  li {
	float:left;
  }

  li a {
	display: block;
	text-align: center;
	padding: 11px 11px;
	text-decoration: none;
	width: 140px;
	font-family: "Georgia", Arial, Helvetica, sans-serif;
	font-size: 22px;
	color:black;
	border-left: 1px solid lightgray;
	position: center;

  }
  li a:hover:not(.active){
    color: rgb(255, 140, 50);
  }

  #mobilenavbar {
	display: none;
  }

  .button {
	display: none;
  }

  .pushy-content {
	display: hidden;
  }

  .pushyul , .menu-btn {
	display: hidden;
  }

  .pushy.pushy-left, #container{
	display: none;
  }

  @media only screen and (max-width: 800px) {

	.mkothpicandwords {
	  width: 70%;
	}
	
	.pushy.pushy-left, #container{
	display: block;
  }
	#comnavbar {
	  display: none;
	}  
	.leftsticky, .rightsticky{
		display: none;
	}
	.mkothpicandwords{
		left: 0;
	}
/* Lists */

.pushyul , .pushysubmenuul {

margin: 0;

padding: 0;

}



/* Container */

#container {
position: relative;
}


/* Menu Button */

.menu-btn {
position: absolute;
top: -55px;
left: 73%;
width: 100px;
padding: 10px;
margin-bottom: 30px;
background: white;
color: black;
text-align: center;
cursor: pointer;
border: 2px solid rgb(255, 140, 50);
font-family: 'Arial',sans-serif;
font-weight: 500;

}

.menu-btn:hover {
background-color: rgb(255, 140, 50);
color: white;
}



/* Header */

.site-header {

position: fixed;

background: #000;

color: #FFF;

width: 100%;

padding: 20px 0;

text-align: center;

z-index: 9998;

}



/* Footer */

.site-footer {

position: relative;

border-top: 1px solid #EEE;

color: #999;

padding: 10px;

font-size: 0.8em;

text-align: center;

}


.pushy {

position: fixed;

width: 200px;

height: 100%;

top: 0;

z-index: 9999;

background-color: rgba(255, 255, 255, 0.822);

overflow: auto;

-webkit-overflow-scrolling: touch;

/* enables momentum scrolling in iOS overflow elements */

}

.pushy a {

display: block;

color: black;

padding: 15px 30px;

text-decoration: none;

}

.pushy a:hover {

color: #FFF;

background-color: rgb(255, 140, 50)

}

.pushy pushyul:first-child {

margin-top: 10px;

}

.pushy pushysubmenuul:first-child {

margin-top: 10px;

}

.pushy.pushy-left {

left: 0;

}

.pushy.pushy-right {

right: 0;

}

.pushy li a {
list-style-type: none;
background: transparent;
}

.pushy-content {

visibility: hidden;

}



/* Menu Movement */

.pushy-left {

-webkit-transform: translate3d(-200px, 0, 0);

-ms-transform: translate3d(-200px, 0, 0);

transform: translate3d(-200px, 0, 0);

}



.pushy-open-left #container,

.pushy-open-left .push {

-webkit-transform: translate3d(200px, 0, 0);

-ms-transform: translate3d(200px, 0, 0);

transform: translate3d(200px, 0, 0);

}



.pushy-right {

-webkit-transform: translate3d(200px, 0, 0);

-ms-transform: translate3d(200px, 0, 0);

transform: translate3d(200px, 0, 0);

}



.pushy-open-right #container,

.pushy-open-right .push {

-webkit-transform: translate3d(-200px, 0, 0);

-ms-transform: translate3d(-200px, 0, 0);

transform: translate3d(-200px, 0, 0);

}



.pushy-open-left .pushy,

.pushy-open-right .pushy {

-webkit-transform: translate3d(0, 0, 0);

-ms-transform: translate3d(0, 0, 0);

transform: translate3d(0, 0, 0);

}

.pushy-open-left .pushy-content,

.pushy-open-right .pushy-content {

visibility: visible;

}



/* Menu Transitions */

#container,

.pushy,

.push {

transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);

}



.pushy-content {

transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);

}



/* Site Overlay */

.site-overlay {

display: none;

}



.pushy-open-left .site-overlay,

.pushy-open-right .site-overlay {

display: block;

position: fixed;

top: 0;

right: 0;

bottom: 0;

left: 0;

z-index: 9998;

background-color: rgba(0, 0, 0, 0.5);

-webkit-animation: fade 500ms;

animation: fade 500ms;

}



@keyframes fade {

0% {

opacity: 0;

}

100% {

opacity: 1;

}

}

@-webkit-keyframes fade {

0% {

opacity: 0;

}

100% {

opacity: 1;

}

}

/* Submenu Appearance */



.pushy-submenu .pushysubmenuul {

padding-left: 15px;

transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;

}

.pushy-submenu .pushysubmenuul .pushy-link {

transition: opacity 0.2s ease-in-out;

}

.pushy-submenu button {

width: 100%;

color: black;

padding: 15px 30px;

text-align: left;

background: transparent;

border: 0;

}

.pushy-submenu button:hover {

color: #FFF;

background-color: rgb(255, 140, 50)
}

.pushy-submenu > a,

.pushy-submenu > button {

position: relative;

}

.pushy-submenu > a::after,

.pushy-submenu > button::after {

content: '';

display: block;

height: 11px;

width: 8px;

position: absolute;

top: 50%;

right: 15px;

list-style-type: none;

background: url("../img/arrow.svg") no-repeat;

-webkit-transform: translateY(-50%);

-ms-transform: translateY(-50%);

transform: translateY(-50%);

transition: transform 0.2s;

}



/* Submenu Movement */

.pushy-submenu-closed .pushysubmenuul {

max-height: 0;

overflow: hidden;

visibility: hidden;

}

.pushy-submenu-closed .pushy-link {

opacity: 0;

}




.pushy-submenu-open .pushysubmenuul {

max-height: 1000px;

visibility: visible;

}

.pushy-submenu-open .pushy-link {

opacity: 1;

}

.pushy-submenu-open a::after,

.pushy-submenu-open button::after {

-webkit-transform: translateY(-50%) rotate(90deg);

-ms-transform: translateY(-50%) rotate(90deg);

transform: translateY(-50%) rotate(90deg);

}
  }


  

